APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:9G97PDpJhOvuwNWMbJIQBSBzB0vbdiMY3b7uDmnP/T8=
APP_DEBUG=true
APP_URL=http://localhost
FRONTEND_URL=http://localhost:5173
SESSION_DOMAIN=localhost
SANCTUM_STATEFUL_DOMAINS=localhost:5173

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=megaz_hr#megaz #megaz_hr  #megaz_db
DB_USERNAME=root
DB_PASSWORD=passwords

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


# GOOGLE_API_KEY="AIzaSyCvUQJCbpIMC02ceunLnZI7Dyq5VrEjw2M"
# GOOGLE_AUTH_DOMAIN="megaz-78046.firebaseapp.com"
# GOOGLE_PROJECT_ID="megaz-78046"
# GOOGLE_STORAGE_BUCKET="megaz-78046.firebasestorage.app"
# GOOGLE_MESSAGING_SENDER_ID="144736503266"
# GOOGLE_APP_ID="1:144736503266:web:50908d34738ad48d93a5bb"
# GOOGLE_MEASUREMENT_ID="G-20WGQM0S3T"
GOOGLE_API_KEY="AIzaSyD_Rc-Exu4Dx2luwa2M1q-6A-wg_wwJDH4"
GOOGLE_AUTH_DOMAIN="megaz-hros.firebaseapp.com"
GOOGLE_PROJECT_ID="megaz-hros"
GOOGLE_STORAGE_BUCKET="megaz-hros.firebasestorage.app"
GOOGLE_MESSAGING_SENDER_ID="823941269115"
GOOGLE_APP_ID="1:823941269115:web:1b1b94177d8b1a8d3044de"
GOOGLE_MEASUREMENT_ID="G-J8JNQ4FGNS"
FCM_SENDER_ID=144736503266

FIREBASE_CREDENTIALS=storage/app/firebase/firebase_credentials.json
FIREBASE_PROJECT="megaz-hros"




VITE_GOOGLE_API_KEY="${GOOGLE_API_KEY}"
VITE_GOOGLE_AUTH_DOMAIN="${GOOGLE_AUTH_DOMAIN}"
VITE_GOOGLE_PROJECT_ID="${GOOGLE_PROJECT_ID}"
VITE_GOOGLE_STORAGE_BUCKET="${GOOGLE_STORAGE_BUCKET}"
VITE_GOOGLE_MESSAGING_SENDER_ID="${GOOGLE_MESSAGING_SENDER_ID}"
VITE_GOOGLE_APP_ID="${GOOGLE_APP_ID}"

# FCM_SERVER_KEY=AAAAGIGRMQw:APA91bH8XQw_ukDQApnBvHSQoEnhG8lLpGrNzm24ZazgTodz-kA_BsOW_o7lvWARqYcZImqPmVihiVdw9-ZMuw6OuaVB5v1bIykB1tpwv98ChIGcXU_gJCTbze5inCScvnELq70woSaD
# FCM_SENDER_ID=105252991244

# FCM_SERVER_KEY=AAAABgq3v54:Aaddition_year_depreciationPA91bENoRpKZZ4syn4hcWApKCvFKdRZRp_tJcLoHnZhUWkj6Yv1qdQK0fvbqaVrer0LiJB814mqdEvI4dmZQDdoa3zqIcYNQwvTWs3yRsdhstb8-7XCSi9gg1yFUas9Lk57V2A3t9RN
# FCM_SENDER_ID=25949618078

REVERB_APP_ID=358906
REVERB_APP_KEY=szquwesgxhae3dcexe0t
REVERB_APP_SECRET=krasbskwq3xdvugo3rrt
REVERB_HOST="localhost"
REVERB_PORT=8080
REVERB_SCHEME=http

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"



# BROADCAST_CONNECTION=reverb
# BROADCAST_DRIVER=reverb





